
  <div class="header" >
    <h1>About Us</h1>
    <p> High Quality Cameras and Lenses </p>
    <p>For anyone who enjoys photography</p>
    <p>
   		<%= link_to "Product 11", product_path(11) %>
    	<%= link_to "Product 13", product_path(13) %>
    	<%= link_to "Product 14", product_path(14) %>
	  </p>	
    <br>

  </div><!-- end header -->
    