
  <div class="header" >
    <h1>About Us</h1>
    <p> High Quality Cameras and Lenses </p>
    <p>For anyone who enjoys photography</p>
    <p>
   		<%= link_to "Product 1", product_path(1) %>
    	<%= link_to "Product 2", product_path(2) %>
    	<%= link_to "Product 3", product_path(3) %>
	  </p>	
    <br>

  </div><!-- end header -->
    