<br>
<br>
  <div class="header" >
    <h1>About Us</h1>
    <p> Delivering All Types of clothes </p>
    <p>dress clothes and tasty treats</p>
  </div><!-- end header -->
    
    <div class="store" >

    <h2>Your Store of Fashion</h2>
  <%= image_tag("store.jpg", height: '100', width: '100%' ,class: "img-responsive my-image") %>

  </div>