
<div class="index">
	<h1>Welcome to Jays Cameras</h1>
	<h2>The place to find quality photography equipment at a great price!</h2>
</div>

<br>
<div class="container">
	<div class="row col-sm-6">
		<%= image_tag("canon_t7i.png", class: "img-responsive homepageproduct") %>
		<%= image_tag("nikond7500.jpg", class: "img-responsive homepageproduct") %>
	</div>
	<div class="row">
		<%= image_tag("nikond3400.jpg", class: "img-responsive homepageproduct") %>
		<%= image_tag("nikond5300.jpg", class: "img-responsive homepageproduct") %>
	</div>
</div>	
	   

