<div class="container" id="order-info">
<h2>orders</h2>
  <p>Order Information</p>
    <strong>Product Name:</strong>
    <%= @order.user_id %>
   <!-- <strong>Unit Price:</strong>
    <%= @order.product.price %> -->
  <%= link_to 'Back', orders_path %>
</div>