// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 75px;
}

.product-border {
  border: 1px solid #ccc;
}

.producttitle {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 5px 0
}

.product-desc {
  text-align: center;
}

.border {
  border-top: 1px solid #dadada;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
}

th {
	padding-right: 25px;
}

.product-image {
  width: 200px;
  height: 180px;
  margin: auto;
  text-align: center;
}

.product-display {
  width: 400px;
  height: 400px;
  margin: auto;
  text-align: center;
}

.productbox {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.center {
  margin: 0 auto;
  padding: 10px;
}

.button {
  background-color: #008CBA;
  color: white;
}

.product-styling {
  font-size: 1.5em;
}

.column-half {
  float: left;
  width: 50%;
}

#wrap {
  float: left;
  position: relative;
}

#content {
  float: left;
  position: relative;
  left: -50%;
}

.product-info {
  position: absolute;
  top: 13%;
  height: 30%;
}

.product-reviews {
  margin-left: 20px;
}
