// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'PT Sans', sans-serif;
  padding-top: 51px;
}

.producttitle {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 5px 0
}

.product-desc {
  text-align: center;
}

.productprice {
  border-top: 1px solid #dadada;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
}

th {
	padding-right: 25px;
}

.product-image {
  max-width: 210px;
  max-height: 140px;
  margin: auto;
}

.productbox {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

