// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'PT Sans', sans-serif;
  padding-top: 51px;
}

.producttitle {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 5px 0
}

.productdesc {
  text-align: center;;
}

.productprice {
  border-top: 1px solid #dadada;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
}

.product>img {
  max-width: 210px;
}

th {
	padding-right: 25px;
}