// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index h1 {
	text-align: center;
	font-size: 3em;
	font-weight: 900;
	text-transform: uppercase;
	 background-color: #fffeea;
	 color: black;
	 }
.time{
	margin-left:50%;
}	 


.about{
	font-size: 10px;
}

.header h1 {
	text-align: center;
	font-size: 3em;
	font-weight: 900;
	 font-family: 'Della Respira';
    color: #c55f1f;
    text-align: center;
  
}
.header p {
	text-align: center;
	font-size: 20px;
	 color: black;
  
}
.header{
	background-color: #fffeea;
}


.image h1{
	text-transform: uppercase;
	font-weight: 700;
color:black
}
.image h2{
color:black
}



 .jumbotron{
    background-image: url("eman.png");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 100px;
    padding-top: 50px;
    height: 100%;
}
 @media screen and (max-width: 767px) {
    h2 {
        font-size: 0.8em;
    }
}

.nav{
	 font-family: 'Della Respira';
  font-style: normal;
  font-weight: 400;
  font-size:20px;
  
  }
 
  .fot{
  text-align: center;
  font-size:20px
  }

  .store h2{                                                               
  font-family: 'Della Respira';
    color: #c55f1f;
    text-align: center;
    padding: 30px 0 20px;
    }

    