// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Styling
html, body {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

.logo {
  height: 100px;
  width: 130px;;
}

h1 {
  margin-top: 40px;
  margin-left: 20px;
}

.navbar {
  background-color: #a5c0c0;
}

#nav-collapse-connect>ul>li>a {
  display: block;
}

.homepageproduct {
  height: 300px;
  width: 400px;
}

.header p {
	text-align: center;
	font-size: 20px;
	color: black;
}

.image h1{
  text-transform: uppercase;
  font-weight: 500;
  color:black
}

.image h2 {
  color:black;
}

@media screen and (max-width: 767px) {
  h2 {
  font-size: 0.8em;
  }
}

.navbar-default .navbar-nav>li>a {
  color:white;
}  

// diplay orientation styling

.anchor-bottom {
  height: 200px;
}

.carousel-image {
  text-align: center;
    img {
        margin: 0 auto;
        }
}

.item {
  display: block;
  margin: 0 auto;
}

.pagination {
    display: block;
}

//Text Styling

.nav {
  font-family: 'Open Sans', 'Della Respira';
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  display: block;
}

.index h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
} 

.index h2 {
  text-align: center;
  font-family: 'Open Sans', 'Della Respira';
  color: #c55f1f;
}

.about{
  font-size: 10px;
}

.header h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Open Sans', 'Della Respira';
  color: #c55f1f;
}

//Footer

.site-footer {
  bottom: 0;
  position: fixed;
  background-color: #a5c0c0;
  z-index: 100;
  width: 100%;
}

.searchform {
  margin: 20px 0 0 0;
}

.footer-nav-link {
  text-align: center;
}

.carousel-caption {
  font-family: "Courier New";
  font-size: 2em;
}

.search-bar {
  padding: 10px 15px;
}

.search-btn {
  margin-left: 25px !important;
  margin-top: 10px;
}

// Log in page styling

.actions {
  margin-left: 20px;
}
#container {
  position: relative;
  width: 340px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -170px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

form {
  margin: 0 auto;
  margin-top: 20px;
}

label {
  color: #555;
  display: inline-block;
  padding-top: 10px;
  font-size: 14px;
  margin-left: 20px;
}

p a {
  font-size: 11px;
  color: #aaa;
  float: right;
  margin-top: -13px;
  margin-right: 20px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}

p a:hover {
    color: #555;
}

// Input styling

input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}

input[type=password],
input[type=email],
input[type=text] {
    color: #777;
    padding-left: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
  }

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover {
    border: 1px solid #b6bfc0;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus  {
    border: 1px solid #a8c9e4;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#lower {
  background: #ecf2f5;
  width: 100%;
  height: 69px;
  margin-top: 20px;
  box-shadow: inset 0 1px 1px #fff;
  border-top: 1px solid #ccc;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type=checkbox] {
    margin-left: 20px;
}

.check {
  margin-left: 3px;
  font-size: 11px;
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

input[type=submit] {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #acd6ef; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
  background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
  background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
  border-radius: 30px;
  border: 1px solid #66add6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
}

input[type=submit]:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
  background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
  background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

input[type=submit]:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
  background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
  background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}




