// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Styling
html, body {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

.logo {
  height: 100px;
  width: 130px;;
}

.navbar {
  background-color: #a5c0c0;
}

.homepageproduct {
  height: 300px;
  width: 400px;
}

.header p {
	text-align: center;
	font-size: 20px;
	color: black;
}

.image h1{
  text-transform: uppercase;
  font-weight: 500;
  color:black
}

.image h2 {
  color:black;
}

 .jumbotron {
    background-image: url("sunset.jpeg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 100px;
    padding-top: 50px;
    height: 100%;
}

 @media screen and (max-width: 767px) {
    h2 {
    font-size: 0.8em;
    }
}

.navbar-default .navbar-nav>li>a {
  color:white;
}  

.item {
  display: block;
  margin: 0 auto;
}

.carousel-image {
  text-align: center;
    img {
        margin: 0 auto;
    }
}
//Text Styles

.nav {
  font-family: 'Open Sans', 'Della Respira';
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
}

.index h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
} 

.index h2 {
  text-align: center;
  font-family: 'Open Sans', 'Della Respira';
  color: #c55f1f;
}

.about{
  font-size: 10px;
}

.header h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Open Sans', 'Della Respira';
  color: #c55f1f;
}

.site-footer {
  height: 70px; 
  font-family: "Courier New";
  position: relative;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  padding-top: 20px;
  background-color: #c00;
}

.carousel-caption {
  font-family: "Courier New";
  font-size: 2em;
}




